article{
    padding: 15px;
    padding-left: 65px;
    position: relative;
    border-bottom: 1px var(--border-gray) solid;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.post-header-left {
    display: flex;
    gap: 5px;
}
.post-header-left img {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 100%;
}

.username {
    font-weight: bold;
    cursor: pointer;
}

.username:hover {
    text-decoration: underline;
}

.info {
    color: gray;
}

fa-icon {
    color: gray;
}

.post-content {
    margin-top: 5px;
}

.post-img {
    margin: 10px 0px;
    border-radius: 20px;
    width: 512px;
    object-fit: contain;
}

.post-reactions {
    display: flex;
    justify-content: space-between;
    padding-right: 40%;
}

.post-reactions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post-reactions span {
    color: gray;
}

.post-reactions fa-icon {
    padding: 6px;
    border-radius: 100%;
}

.post-reactions button:hover fa-icon {
    background-color: red;
}
