<div class="side-panel-section">
  <span class="side-panel-header">Poland trends</span>
  <div class="trend-element">
    <div class="trend-info">
      <span>1 &middot; Politics &middot; Trending</span>
      <button><fa-icon [icon]="ellipsisIcon" [size]="'lg'" /></button>
    </div>
    <span class="trend-title">Adamowicz</span>
    <span class="trend-counter">40K posts</span>
  </div>
  <div class="trend-element">
    <div class="trend-info">
      <span>2 &middot; Politics &middot; Trending</span>
      <button><fa-icon [icon]="ellipsisIcon" [size]="'lg'" /></button>
    </div>
    <span class="trend-title">Adamowicz</span>
    <span class="trend-counter">40K posts</span>
  </div>
  <div class="trend-element">
    <div class="trend-info">
      <span>3 &middot; Politics &middot; Trending</span>
      <button><fa-icon [icon]="ellipsisIcon" [size]="'lg'" /></button>
    </div>
    <span class="trend-title">Adamowicz</span>
    <span class="trend-counter">40K posts</span>
  </div>
  <div class="show-more-btn">
    <span>Show more</span>
  </div>
</div>
