<div>
  <!-- home navigation -->
  <nav class="nav-home">
    <div (click)="changeSection('for-you')" class="nav-home-el">
      <div
        [ngClass]="{ 'is-active': activeSection === 'for-you' }"
        class="nav-home-el-text"
      >
        <span>For You</span>
        <div class="underline"></div>
      </div>
    </div>
    <div (click)="changeSection('following')" class="nav-home-el">
      <div
        [ngClass]="{ 'is-active': activeSection === 'following' }"
        class="nav-home-el-text"
      >
        <span>Following</span>
        <div class="underline"></div>
      </div>
    </div>
  </nav>

  <div>
    <h1 style="color: white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quo?
      Corporis obcaecati architecto cupiditate nesciunt repellat dolorum at
      dolorem delectus explicabo asperiores, libero amet aliquid deleniti optio!
      Beatae, quaerat totam?
    </h1>
  </div>
  <div>
    <h1 style="color: white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quo?
      Corporis obcaecati architecto cupiditate nesciunt repellat dolorum at
      dolorem delectus explicabo asperiores, libero amet aliquid deleniti optio!
      Beatae, quaerat totam?
    </h1>
  </div>
  <div>
    <h1 style="color: white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quo?
      Corporis obcaecati architecto cupiditate nesciunt repellat dolorum at
      dolorem delectus explicabo asperiores, libero amet aliquid deleniti optio!
      Beatae, quaerat totam?
    </h1>
  </div>
  <div>
    <h1 style="color: white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quo?
      Corporis obcaecati architecto cupiditate nesciunt repellat dolorum at
      dolorem delectus explicabo asperiores, libero amet aliquid deleniti optio!
      Beatae, quaerat totam?
    </h1>
  </div>
  <div>
    <h1 style="color: white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quo?
      Corporis obcaecati architecto cupiditate nesciunt repellat dolorum at
      dolorem delectus explicabo asperiores, libero amet aliquid deleniti optio!
      Beatae, quaerat totam?
    </h1>
  </div>
  <div>
    <h1 style="color: white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quo?
      Corporis obcaecati architecto cupiditate nesciunt repellat dolorum at
      dolorem delectus explicabo asperiores, libero amet aliquid deleniti optio!
      Beatae, quaerat totam?
    </h1>
  </div>
  <div>
    <h1 style="color: white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quo?
      Corporis obcaecati architecto cupiditate nesciunt repellat dolorum at
      dolorem delectus explicabo asperiores, libero amet aliquid deleniti optio!
      Beatae, quaerat totam?
    </h1>
  </div>
</div>
