<div class="side-panel-section">
  <span class="side-panel-header">Who to follow</span>
  <div class="to-follow-user">
    <div class="user-small-details">
      <img
        width="40"
        height="40"
        src="https://www.shareicon.net/data/512x512/2016/07/05/791224_man_512x512.png"
        alt="Profile avatar"
      />
      <div class="user-small-desc">
        <span class="username">Damian</span>
        <span class="nickname">@e_spisz</span>
      </div>
    </div>
    <button class="follow-btn">Follow</button>
  </div>
  <div class="to-follow-user">
    <div class="user-small-details">
      <img
        width="40"
        height="40"
        src="https://www.shareicon.net/data/512x512/2016/07/05/791224_man_512x512.png"
        alt="Profile avatar"
      />
      <div class="user-small-desc">
        <span class="username">Damian</span>
        <span class="nickname">@e_spisz</span>
      </div>
    </div>
    <button class="follow-btn">Follow</button>
  </div>
  <div class="to-follow-user">
    <div class="user-small-details">
      <img
        width="40"
        height="40"
        src="https://www.shareicon.net/data/512x512/2016/07/05/791224_man_512x512.png"
        alt="Profile avatar"
      />
      <div class="user-small-desc">
        <span class="username">Damian</span>
        <span class="nickname">@e_spisz</span>
      </div>
    </div>
    <button class="follow-btn">Follow</button>
  </div>
  <div class="show-more-btn">
    <span>Show more</span>
  </div>
</div>
