<aside>
  <div class="search-panel">
    <fa-icon [icon]="searchIcon" />
    <input type="text" placeholder="Search" />
  </div>

  <div class="side-panel-section">
    <span class="side-panel-header">Who to follow</span>
    <div class="to-follow-user">
      <div class="user-small-details">
        <img
          width="40"
          height="40"
          src="https://www.shareicon.net/data/512x512/2016/07/05/791224_man_512x512.png"
          alt="Profile avatar"
        />
        <div class="user-small-desc">
          <span class="username">Damian</span>
          <span class="nickname">@e_spisz</span>
        </div>
      </div>
      <button class="follow-btn">Follow</button>
    </div>
    <div class="to-follow-user">
      <div class="user-small-details">
        <img
          width="40"
          height="40"
          src="https://www.shareicon.net/data/512x512/2016/07/05/791224_man_512x512.png"
          alt="Profile avatar"
        />
        <div class="user-small-desc">
          <span class="username">Damian</span>
          <span class="nickname">@e_spisz</span>
        </div>
      </div>
      <button class="follow-btn">Follow</button>
    </div>
    <div class="to-follow-user">
      <div class="user-small-details">
        <img
          width="40"
          height="40"
          src="https://www.shareicon.net/data/512x512/2016/07/05/791224_man_512x512.png"
          alt="Profile avatar"
        />
        <div class="user-small-desc">
          <span class="username">Damian</span>
          <span class="nickname">@e_spisz</span>
        </div>
      </div>
      <button class="follow-btn">Follow</button>
    </div>
    <div class="show-more-btn">
      <span>Show more</span>
    </div>
  </div>
  <div class="side-panel-section">
    <span class="side-panel-header">Poland trends</span>
    <div class="trend-element">
      <div class="trend-info">
        <span>1 &middot; Politics &middot; Trending</span>
        <button><fa-icon [icon]="ellipsisIcon" [size]="'lg'" /></button>
      </div>
      <span class="trend-title">Adamowicz</span>
      <span class="trend-counter">40K posts</span>
    </div>
    <div class="trend-element">
      <div class="trend-info">
        <span>2 &middot; Politics &middot; Trending</span>
        <button><fa-icon [icon]="ellipsisIcon" [size]="'lg'" /></button>
      </div>
      <span class="trend-title">Adamowicz</span>
      <span class="trend-counter">40K posts</span>
    </div>
    <div class="trend-element">
      <div class="trend-info">
        <span>3 &middot; Politics &middot; Trending</span>
        <button><fa-icon [icon]="ellipsisIcon" [size]="'lg'" /></button>
      </div>
      <span class="trend-title">Adamowicz</span>
      <span class="trend-counter">40K posts</span>
    </div>
    <div class="show-more-btn">
      <span>Show more</span>
    </div>
  </div>
</aside>
