aside{
    position: fixed;
    width: 350px;
    height: 100%;
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}

.search-panel {
    display: inline-block;
    border-radius: 9999px;
    gap: 10px;
    padding: 15px;
    width: 100%;
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
}

.search-panel fa-icon {
    color: gray;
} 

.search-panel input {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--main-font-color);;
}

.search-panel:focus-within{
    border: 1px solid var(--lightblue-bg-color);
}

.search-panel:focus-within fa-icon {
    color: var(--lightblue-bg-color);
}

.side-panel-section {
    background-color: var(--dark-gray);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.side-panel-header {
    font-size: 22px;
    font-weight: bold;
    padding: 15px
}

.to-follow-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
}
.show-more-btn:hover, .to-follow-user:hover {
    background-color: var(--hover-gray);
    transition: all 0.2s;
}

.user-small-details {
    display: flex;
    gap: 10px;
}

.to-follow-user img {
    border-radius: 9999px;
}

.user-small-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-small-desc .username {
    font-weight: bold;
}

.user-small-desc .username:hover {
    text-decoration: underline;
}
.user-small-desc .nickname {
    color: gray;
}


.follow-btn {
    background-color: white;
    border: none;
    padding: 0 16px;
    border-radius: 999px;
    height: 32px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.show-more-btn {
    cursor: pointer;
    padding: 20px 15px;
    color: var(--lightblue-bg-color);
    font-size: 16px;
}

.trend-element {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 15px;
}

.trend-element:hover{
    background-color: var(--hover-gray);
    cursor: pointer;
    transition: 0.2s all;
}

.trend-info, .trend-counter{
    color: gray;
    font-size: 13px;
}

.trend-info {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.trend-info button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 999px;
}
.trend-info fa-icon {
    color: gray;
}
.trend-info button:hover fa-icon {
    color: var(--lightblue-bg-color);
    transition: all 0.2s;
}
.trend-info button:hover {
    background-color: var(--hover-lightblue);
    transition: all 0.2s;
    cursor: pointer;
}

.trend-title{
    font-weight: bold;
}


