<article>
  <div class="post-header">
    <div class="post-header-left">
      <img
        width="40"
        height="40"
        src="https://www.shareicon.net/data/512x512/2016/07/05/791224_man_512x512.png"
        alt="Profile avatar"
      />
      <span class="username">Damian</span>
      <span class="info">@e_spisz &middot; 15h</span>
    </div>
    <fa-icon [size]="'lg'" [icon]="ellipsisIcon" />
  </div>
  <div class="post-content">
    <span>
      Lewandowski: "You're shooting? you?"
      <br />
      <br />
      Alvaro: "What?"
      <br />
      <br />
      Lewandowski: "Go ahead then, shoot it"
    </span>
    <img
      class="post-img"
      src="https://pbs.twimg.com/media/GD4n0x2XUAAwAzQ?format=jpg&name=small"
      alt="post image"
    />
  </div>
  <div class="post-reactions">
    <button class="comment-btn">
      <fa-icon [size]="'lg'" [icon]="commentIcon" />
      <span>20</span>
    </button>
    <button class="share-btn">
      <fa-icon [size]="'lg'" [icon]="shareIcon" />
      <span>15</span>
    </button>

    <button class="like-btn">
      <fa-icon [size]="'lg'" [icon]="heartIcon" />
      <span>35</span>
    </button>
  </div>
</article>
