article{
    padding: 15px;
    padding-left: 65px;
    position: relative;
    border-bottom: 1px var(--border-gray) solid;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.post-header-left {
    display: flex;
    gap: 5px;
}
.post-header-left img {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 100%;
}

.username {
    font-weight: bold;
    cursor: pointer;
}

.username:hover {
    text-decoration: underline;
}

.info {
    color: var(--gray-font-color);
}

fa-icon {
    color: var(--gray-font-color);
}

.post-content {
    margin-top: 5px;
}

.post-img {
    margin: 10px 0px;
    border-radius: 20px;
    width: 512px;
    object-fit: contain;
}

.post-reactions {
    display: flex;
    justify-content: space-between;
    padding-right: 40%;
}

.post-reactions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post-reactions span {
    margin-left: -5px;
    color: var(--gray-font-color);
}

.post-reactions fa-icon {
    padding: 10px;
    border-radius: 100%;
}

.post-reactions button:hover fa-icon{
    transition: 0.2s all;
}

.post-reactions button:hover span{
    transition: 0.2s all;
}

.comment-btn:hover fa-icon {
    color: var(--lightblue-bg-color);
    background-color: var(--hover-lightblue);
}

.share-btn:hover fa-icon {
    color: rgb(63, 146, 63);
    background-color: rgba(63, 146, 63, 0.2);
}
.like-btn:hover fa-icon {
    color: rgb(240, 128, 128);
    background-color: rgba(240, 128, 128, 0.2);
}

.comment-btn:hover span {
    color: var(--lightblue-bg-color);
}

.share-btn:hover span {
    color: rgb(63, 146, 63);
}
.like-btn:hover span {
    color: rgb(240, 128, 128);
}
