body, html {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
p{
    display: inline-block;
}